div.main_frame {
	width: 900px;
	background-color: #FFFFFF;
	margin: 2px auto 2px auto;
	border: 2px;
	border-style: solid;
	border-color: #C0C0C0;
	padding: 20px;
}

pre {
	width: 100%;
	background-color: #F0F0F0;
	border: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #D0D0D0;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #F0F0F0;
	line-height:170%;
}

h1 {
	width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 1px;
	border-right: 0px;
	border-style: solid;
	border-color: #E0E0E0;
}

p {

	margin-top: 1.3em;
	margin-bottom: 1.3em;

}
