Source: autovala
Maintainer: Sergio Costas <rastersoft@gmail.com>
Priority: optional
Section: misc
Build-Depends: build-essential, po-debconf, valac, libc6-dev, libglib2.0-dev, libgee-0.8-dev, libreadline6-dev, libcairo2-dev, libgtk-3-dev, libgdk-pixbuf2.0-dev, libxml2-dev, libpango1.0-dev, libatk1.0-dev, libvte-2.91-dev, libx11-dev, cmake, gettext, pkg-config, gcc, g++, make, intltool, pandoc, bash-completion, libxml2-utils

Package: autovala
Architecture: any
Version: 1.0.0
Depends: libglib2.0-0, libgee-0.8-2, libcairo2, libgtk-3-0, libpangocairo-1.0-0, libpango-1.0-0, libgdk-pixbuf2.0-0, libcairo-gobject2, libxml2, libreadline6, libatk1.0-0, libvte-2.91-0, zlib1g, libpcre2-8-0, libgnutls30, libx11-6, pandoc, curl
Description: Autovala is a program and a library designed to help in the creation
 of projects with Vala and CMake.
 .
 The idea is quite simple: CMake is very powerful, but writting the
 CMakeLists files is boring and repetitive. Why not let the computer
 create them, by guessing what to do with each file? And if, at the
 end, there are mistakes, let the user fix them in an easy way, and
 generate the final CMakeLists files.
 .
 This is what Autovala does. This process is done in three steps:
 .
 * First, Autovala checks all the folders and files, and writes a
 project file with the type of each file
 * It also peeks the source files to determine which Vala packages
 they need, and generate automagically that list
 * After that (and after allowing the user to check, if (s)he wishes,
 the project file), it uses that project file to generate the needed
 CMakeLists files
 .
 Autovala greatly simplifies the process of working with Vala because:
 .
 * Automatically determines the vala packages and libraries needed to
 compile and run the project, by inspecting the source code
 * Automatically generates the .vapi and pkg-config files for libraries
 * Automatically determinates the final destination for an icon, by
 checking its type (svg or png) and, in the later case, its size
 * Automatically generates manpages from text files in several
 possible input format (markdown, html, latex...)
 * Greatly simplifies creating libraries in Vala, or a project with a
 binary that uses a library defined in the same project
 * Automatically generates the metadata files to create .DEB and .RPM packages.
 * Easily integrates unitary tests for each binary in the project
 * Can generate automatically DBUS bindings by using the DBUS
 introspection capabilities
 * Automatically generates the list of source files for GETTEXT
 * Simplifies mixing C and Vala source files
 .
 .
